<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651711645252-mushd3bmm9cokbstbcp7usmu5hoe547d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651711645252-mushd3bmm9cokbstbcp7usmu5hoe547d</string>
	<key>API_KEY</key>
	<string>AIzaSyDa6EG4k6-45dPP0-IhYpmxmkso2zGLtis</string>
	<key>GCM_SENDER_ID</key>
	<string>651711645252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxkrefting.RedemptionChat</string>
	<key>PROJECT_ID</key>
	<string>redemptionchat-ff677</string>
	<key>STORAGE_BUCKET</key>
	<string>redemptionchat-ff677.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651711645252:ios:417e80fb0f152e27c5de11</string>
</dict>
</plist>